.character {
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.details {
  margin-top: 1rem;
  border: none;
}

.initial-info {
  margin: 2rem auto;
  width: 80%;
  text-align: center;
}

.character-info {
  width: 100%;
}

.character-info-header {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character-info-details {
  padding: 0 1rem;
}

.character-info-details > span {
  display: flex;
}

p {
  margin-left: 0.5rem;
}

.add-button,
.delete-button,
.details-button {
  margin: 0.2rem;
  border-radius: 0.5rem;
  border: none;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.details-button {
  margin-left: 0.5rem;
}

.search-error {
  margin: 2rem auto;
  text-align: center;
  width: 80%;
}

.movies,
.vehicles,
.starships {
  margin: 0.7rem 0;
}

.movies p,
.vehicles p,
.starships p {
  text-align: left;
  margin-left: 2rem;
}

#yoda-icon {
  width: 100px;
  height: 100px;
  margin-top: 2rem;
}

/* layout on larger screens */
@media (min-width: 900px) {
  .character {
    width: 50%;
    margin: 0 auto 1rem auto;
  }

  .initial-info {
    width: var(--larger-screens-default-width);
  }
}
