#pagination-ul {
  margin-bottom: 1rem;
}

.pagination-li {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.pagination-a-active {
  border-bottom: 3px solid var(--secondary-color);
  color: var(--secondary-color);
}

.pagination-li:hover .pagination-a {
  color: var(--secondary-color);
}

.pagination-li:hover {
  transform: scale(1.5);
  transition: all 0.2s ease-in-out;
}
