#pagination-ul {
  margin-bottom: 1rem;
}

.pagination-li {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.pagination-a,
.pagination-a-active {
  text-decoration: none;
  margin: 0 1rem;
}

.pagination-li:hover {
  transform: scale(1.5);
  transition: all 0.2s ease-in-out;
}
