@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
  --background: black;
  --text-color: white;
  --accent-color: yellow;
}

.theme-light {
  --background: white;
  --text-color: black;
  --accent-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.12rem;
  transition: background-color 0.5s;
}
