@import '../../../../helpers/vars';

.navbar {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: block;
  padding: 1rem 2rem;
  border-bottom: 5px solid var(--accent-color);
  transition: color var(--default-transition);

  h1 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    color: var(--accent-color);
    transition: color var(--default-transition);
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .navbar-li {
    transition: all 0.2s ease-in-out;
    width: 8rem;
    margin: 0 1rem;

    .navbar-link {
      margin: 0 1rem;
      text-decoration: none;
      color: var(--text-color);
      transition: color var(--default-transition);

      &-active {
        color: var(--accent-color);
        border-bottom: 3px solid var(--accent-color);
        text-decoration: none;
        transition: color var(--default-transition);

      }
    }

    &:hover {
      transform: scale(1.2);
      transition: all 0.2s ease-in-out;

      a {
        color: var(--accent-color);
      }
    }
  }

  .theme-button {
    background: none;
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    border-radius: 50%;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    opacity: 0.6;
    color: var(--text-color);
    transition: color var(--default-transition);

    &::after {
      content: attr(aria-label);
      color: whitesmoke;
      position: absolute;
      width: max-content;
      background: #066fc5;
      border-radius: 0.2rem;
      padding: 0.7rem 1.2rem;
      left: -10.5rem;
      top: -30%;
      margin: 0 auto;
      transform: scale(0);
    }

    &:hover,
    &:focus {
      opacity: 1;
      background: hsla(0%, 0%, 50%, 0.3);
      color: var(--accent-color);
      transition: color var(--default-transition);

      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}