@import '../../services/utils/vars';

.character-details {
  @extend %character-box;
  margin-top: 1rem;

  .character-info {
    @extend %character-info;

    h2 {
      margin-left: 1rem;
    }
  }

  .character-info-details {
    padding: 0 1rem;
    color: var(--text-color);
    transition: color var(--default-transition);

    span {
      display: flex;

      p {
        margin-left: 0.5rem;
      }
    }

    .movies,
    .vehicles,
    .starships {
      margin: 0.7rem 0;

      p {
        text-align: left;
        margin-left: 1.5rem;
      }
    }
  }
}

@media (min-width: 900px) {
  .character-details {
    width: 50%;
    margin: 1rem auto;
  }
}
