:root {
  --larger-screens-default-width: 50%;
  --background: black;
  --text-color: white;
  --accent-color: yellow;
}

[data-theme='white'] {
  --background: white;
  --text-color: black;
  --accent-color: black;
}

%character-box {
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  margin: 1rem auto;
  border: 3px solid var(--accent-color);
}

%character-info {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--accent-color);
}

%button {
  margin: 0.2rem;
  border-radius: 0.5rem;
  border: none;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  color: var(--background);
  background-color: var(--accent-color);
  transition: all 0.5s;
}

%button-delete-list {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  border: none;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
  justify-content: center;
  color: var(--background);
  background-color: var(--accent-color);
  transition: all 0.5s;

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}