.search {
  display: flex;
  flex: 1;
  width: 80%;
  position: relative;
  margin: 1rem auto 1.5rem auto;

  .search-button {
    width: auto;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0 1rem 0 0;
    transition: all 0.2s ease-in-out;

    &:active {
      transform: scale(0.7);
      transition: transform var(--default-transition-duration);
    }

    svg {
      color: var(--accent-color);
      transition: color var(--default-transition);
    }
  }

  .search-input {
    width: 100%;
    margin-left: 1rem;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 15px;
    outline: none;
    overflow: hidden;
    text-indent: 1rem;
    border: 3px solid var(--text-color);
    transition: border 0.5s;
  }
}

/* layout on larger screens */
@media (min-width: 900px) {
  .search {
    width: var(--larger-screens-default-width);
  }
}
