.navbar {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: block;
  padding: 1rem 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar-li {
  transition: all 0.2s ease-in-out;
}

.navbar-link {
  margin: 0 1rem;
  text-decoration: none;
}

.navbar-li:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.theme-button {
  background: none;
  position: absolute;
  top: 1.8rem;
  right: 1rem;
  border-radius: 50%;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.theme-button::after {
  content: attr(aria-label);
  color: whitesmoke;
  position: absolute;
  width: max-content;
  background: #066fc5;
  border-radius: 0.2rem;
  padding: 0.7rem 1.2rem;
  left: -10.5rem;
  top: -30%;
  margin: 0 auto;
  transform: scale(0);
}

.theme-button:hover,
.theme-button:focus {
  opacity: 1;
  background: hsl(0 0% 50% / 0.3);
}

.theme-button:hover::after,
.theme-button:focus::after {
  opacity: 1;
  transform: scale(1);
}
