@import '../../helpers/vars';

.spinner {
  position: relative;
  top: 7rem;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  animation: spinner-animation 2.5s infinite linear both;

  &-hidden {
    display: none;
  }

  .spinner-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: spinner-animation-dot 2s infinite ease-in-out both;

    &::before {
      content: '';
      display: block;
      width: 25%;
      height: 25%;
      background-color: var(--accent-color);
      border-radius: 100%;
      animation: spinner-animation-dot-before 2s infinite ease-in-out both;
    }
  }

  .spinner-dot:nth-child(1) {
    animation-delay: -1.1s;

    &::before {
      animation-delay: -1.1s;
    }
  }

  .spinner-dot:nth-child(2) {
    animation-delay: -1s;

    &::before {
      animation-delay: -1s;
    }
  }

  .spinner-dot:nth-child(3) {
    animation-delay: -0.9s;

    &::before {
      animation-delay: -0.9s;
    }
  }

  .spinner-dot:nth-child(4) {
    animation-delay: -0.8s;

    &::before {
      animation-delay: -0.8s;
    }
  }

  .spinner-dot:nth-child(5) {
    animation-delay: -0.7s;

    &::before {
      animation-delay: -0.7s;
    }
  }

  .spinner-dot:nth-child(6) {
    animation-delay: -0.6s;

    &::before {
      animation-delay: -0.6s;
    }
  }
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-animation-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-animation-dot-before {
  50% {
    transform: scale(0.4);
  }

  100%,
  0% {
    transform: scale(1);
  }
}
