.character {
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.character-info {
  width: 70%;
}

.character-info > h3 {
  margin-bottom: 0.5rem;
}

.character-info > span {
  display: flex;
}

p {
  margin-left: 0.5rem;
}

.add-button {
  color: black;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  height: 3em;
  padding: 0 1rem;
  cursor: pointer;
}
