@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './app/helpers/vars';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.12rem;
  transition: background-color 0.5s;
}