@import '../../helpers/vars';

.pagination-ul {
  margin-bottom: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;

  .pagination-li {
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    .pagination-link,
    .pagination-link-active {
      margin: 0 1rem;
    }

    .pagination-link {
      text-decoration: none;
      color: var(--text-color);
      transition: color var(--default-transition);
    }

    .pagination-link-active {
      border-bottom: epx solid var(--accent-color);
      color: var(--accent-color);
      transition: color var(--default-transition);
      text-underline-offset: 0.2rem;
    }

    &:hover {
      transform: scale(1.5);
      transition: all 0.2s ease-in-out;

      .pagination-link {
        color: var(--accent-color);
        transition: color var(--default-transition);
      }
    }
  }
}
