@import '../../../helpers/vars';

.empty-list {
  margin: 2rem auto;
  text-align: center;
  width: 80%;

  .yoda-icon {
    width: 100px;
    height: 100px;
    margin-top: 2rem;
  }
}

h3 {
  text-align: center;
  margin: 0.5rem 0;
}

.delete-list-button {
  margin-bottom: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  border: none;
  height: 2rem;
  width: 4rem;
  cursor: pointer;

  .span {
    margin-left: 0.5rem;
  }

  .character {
    @extend %character-box;
  }
}

@media (min-width: 900px) {
  .character {
    width: 50%;
    margin: 0 auto 1rem auto;
  }
}